{% extends 'base.html' %}

{% block body %}
    <div class="container me-2" style="width: 40%">
        <h1 class="fs-1">變更密碼，</h1>
        <h3  class="fs-3">變更{{ user.username }}的密碼</h3>
    </div>
    <div class="container me-2 login_form" style="width: 60%">
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_old_password">密碼：</label>
                <input type="password" name="old_password" autocomplete="new-password" required="" id="id_password1">
                <span class="helptext"></span>
            </p>
            {% if form.errors.old_password %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ form.errors.old_password }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <p>
                <label for="id_new_password1">新密碼：</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_password2">
            </p>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <ul><li>你的密碼不能與其他個人資訊太相近。</li><li>你的密碼必須包含至少 8 個字元。</li><li>你不能使用常見的密碼。</li><li>你的密碼不能完全是數字。</li></ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% if form.errors.new_password1 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ form.errors.new_password1 }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <p>
                <label for="id_new_password2">新密碼確認：</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_password2">
            </p>
            {% if form.errors.new_password2 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ form.errors.new_password2 }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <input type="submit" class="btn btn-primary btn-lg" value="註冊">
        </form>
    </div>
{% endblock body %}